.my-1 { margin-top: .25em !important; margin-bottom: .25em !important; }
.my-2 { margin-top: .5em !important; margin-bottom: .5em !important; }
.my-3 { margin-top: 1em !important; margin-bottom: 1em !important; }
.my-4 { margin-top: 1.25em !important; margin-bottom: 1.25em !important; }
.my-5 { margin-top: 1.5em !important; margin-bottom: 1.5em !important; }

.mb-1 { margin-bottom: .25em !important; }
.mb-2 { margin-bottom: .5em !important; }
.mb-3 { margin-bottom: 1em !important; }
.mb-4 { margin-bottom: 1.25em !important; }
.mb-5 { margin-bottom: 1.5em !important; }

.bold { font-weight: bold !important; }

.text-center { text-align: center; }

.avatar {
  width: 250px !important; height: 250px !important;
}

.users-box, .book {
  padding: 1em;
  background-color: #759eba !important;
  border-radius: 10px;
}